body{
    background-color:rgba(247, 238, 238, 0.897);
}
div{
    border-radius: 5px;
    background-color:rgb(221, 208, 208);
    height: 500px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.quote{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    margin-top: 50px;
   
}

.title{
    margin-top: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.ver{
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
}
.btn-success {
    padding: .7em 1em 1em;
    margin: 1em;
    width: 100px;
    height: 50px;
    border: 1px;
    display: block;
    margin-top: 50px;
    margin-left: 470px;
    border-radius: 15px;
}
